<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Come to the dark side!
  </h1>
  <app-select-form (selectedObject) = 'passingData($event)'>
  </app-select-form>
  </div>
  <div>
    <app-display-form-data [dataObject]='swapidata' [category] = 'selectedCategory'></app-display-form-data>
  </div>