    <aside>
    <p>Select a category from the below options</p>
    <select [(ngModel)]='selectedCategory'>
      <option *ngFor='let item of categories'
      [value]='item'>{{item}}</option>
    </select>
    </aside>
    <aside>
    <label>
        <input type="radio" [(ngModel)]="selectedNumber" value="1">
        1
      </label><br/>
      <label>
        <input type="radio" [(ngModel)]="selectedNumber" value="2">
        2
      </label><br/>
      <label>
        <input type="radio" [(ngModel)]="selectedNumber" value="3">
        3
      </label><br/>
      <label>
        <input type="radio" [(ngModel)]="selectedNumber" value="4">
        4
      </label><br/>
      <label>
        <input type="radio" [(ngModel)]="selectedNumber" value="5">
        5
      </label><br/>
    </aside>

    <aside>
        <button (click)='getData_form()'>Go</button>
        <pre>{{swapidata |json}}</pre>
    </aside>