<div *ngIf = 'category == "people"'> 
    <h2>Name: {{dataObject.name}}</h2>
    <h2>Height: {{dataObject.height}}</h2>
    <h2>Mass: {{dataObject.mass}}</h2>
</div>

<div *ngIf = 'category == "planet"'>
    <h2>Name: {{dataObject.name}} </h2>
    <h2>Rotation Period:{{dataObject.rotation_period}} </h2>
    <h2>Orbital Period: {{dataObject.orbital_period}} </h2>
</div>

<div *ngIf = 'category == "species"'>
        <h2>Name: {{dataObject.name}} </h2>
        <h2>Classification: {{dataObject.classification}} </h2>
        <h2>Designation: {{dataObject.designation}} </h2>
</div>

<div *ngIf = 'category == "starship"'>
       <h2>Name: {{dataObject.name}}</h2>
       <h2>Model: {{dataObject.model}}</h2>
       <h2>Manufacturer: {{dataObject.manufacturer}}</h2>
</div>

<div *ngIf = 'category == "vehicle"'>
    <h2>Name: {{dataObject.name}}</h2>
</div>

<div *ngIf = 'dataObject.name'>
        <h2>Created: {{dataObject.created}}</h2>
        <h2>Edited: {{dataObject.edited}}</h2>
        <h2>URL: {{dataObject.url}}</h2>
</div>

<div *ngIf = '!dataObject.name && category'>
    {{category}} not found

</div>
